* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

html {
  scroll-behavior: smooth;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  display: none;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

html.lock {
  overflow: hidden;
}

body {
  color: #262626;
  font-size: 20px;
  font-family: 'TT Norms Pro';
  font-weight: 400;
  font-style: normal;
}

body._lock {
  overflow: hidden;
}

body.lock {
  overflow: hidden;
}

main {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

[class*='__container'] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0px 15px;
}

@media (max-width: 375px) {
  [class*='__container'] {
    padding: 0px 10px;
  }
}

.header {
  background-color: #262626;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 94px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__phone {
  color: #ffffff;
  font-weight: 500;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__phone:hover {
  color: #d36718;
}

@media (max-width: 1310px) {
  .header__phone {
    font-size: 16px;
  }
}

.header__button {
  font-weight: 500;
  font-size: 16px;
  border-radius: 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(#faaf1c), to(#d36718));
  background: linear-gradient(180deg, #faaf1c 0%, #d36718 100%);
  padding: 9px 24px;
  color: #ffffff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.header__button:hover {
  opacity: 0.7;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.menu__item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.menu__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 25px;
  width: 0%;
  height: 2px;
  background: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__item:hover::before {
  width: 100%;
}

.menu__link {
  color: #ffffff;
  font-weight: 500;
}

@media (max-width: 1310px) {
  .menu__link {
    font-size: 16px;
  }
}
