* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

html {
  scroll-behavior: smooth;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  display: none;
}

.gallery__popup {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
  padding: 10px;
}

.gallery__popup.active {
  display: block;
}

.gallery__popup span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.gallery__popup span:hover {
  color: #9ea1a2;
}

.gallery__popup img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 90%;
  max-height: 90%;
}

body::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.lock .popup__content {
  visibility: visible;
}

.popup-form {
  padding: 40px;
  width: 100%;
  width: 426px;
  height: 517px;
  background-color: #faf9f6;
  border-radius: 24px;
  position: relative;
}

@media (max-width: 479.98px) {
  .popup-form {
    width: 100%;
    padding: 50px 20px 30px 20px;
  }
}

.popup-form__title {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 24px;
}

@media (max-width: 479.98px) {
  .popup-form__title {
    font-size: 26px;
  }
}

.popup-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-form__input {
  margin-bottom: 16px;
  height: 60px;
  width: 100%;
  border-radius: 12px;
  color: #262626;
  padding-left: 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.popup-form__input::-webkit-input-placeholder {
  color: #262626;
}

.popup-form__input:-ms-input-placeholder {
  color: #262626;
}

.popup-form__input::-ms-input-placeholder {
  color: #262626;
}

.popup-form__input::placeholder {
  color: #262626;
}

.popup-form__button {
  height: 93px;
  width: 100%;
  border-radius: 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(#faaf1c), to(#d36718));
  background: linear-gradient(180deg, #faaf1c 0%, #d36718 100%);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  margin-bottom: 32px;
}

.popup-form__button:hover {
  opacity: 0.7;
}

.popup-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popup-form__label input {
  margin-top: 2px;
}

.popup-form__label p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.popup-form__label p span {
  color: #1890ff;
  cursor: pointer;
}

.popup-form__close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  width: 100%;
  position: relative;
}

html.lock {
  overflow: hidden;
}

body {
  color: #262626;
  font-size: 20px;
  font-family: 'TT Norms Pro';
  font-weight: 400;
  font-style: normal;
}

body._lock {
  overflow: hidden;
}

body.lock {
  overflow: hidden;
}

main {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

[class*='__container'] {
  max-width: 1328px;
  margin: 0 auto;
  padding: 0px 24px;
}

@media (max-width: 375px) {
  [class*='__container'] {
    padding: 0px 10px;
  }
}

.header {
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 94px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
}

@media (max-width: 991.98px) {
  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translate(100%, 0px);
            transform: translate(100%, 0px);
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 93px;
    left: 0;
    overflow: auto;
    padding: 25px 15px 30px 15px;
    background-color: #faf9f6;
    border-radius: 8px;
    z-index: 5;
    color: #262626;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__body._active {
    -webkit-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }
}

.header__phone {
  color: #ffffff;
  font-weight: 500;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__phone:hover {
  color: #d36718;
}

@media (max-width: 1328px) {
  .header__phone {
    font-size: 16px;
  }
}

@media (max-width: 991.98px) {
  .header__phone {
    color: #262626;
    font-size: 20px;
    margin-bottom: 25px;
  }
}

.header__button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  border-radius: 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(#faaf1c), to(#d36718));
  background: linear-gradient(180deg, #faaf1c 0%, #d36718 100%);
  padding: 9px 24px;
  color: #ffffff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.header__button:hover {
  opacity: 0.7;
}

@media (max-width: 991.98px) {
  .header__button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 991.98px) {
  .menu {
    margin-bottom: 25px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

@media (max-width: 991.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.menu__item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.menu__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 25px;
  width: 0%;
  height: 2px;
  background: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__item:hover::before {
  width: 100%;
}

.menu__link {
  color: #ffffff;
  font-weight: 500;
}

@media (max-width: 1328px) {
  .menu__link {
    font-size: 16px;
  }
}

@media (max-width: 991.98px) {
  .menu__link {
    color: #262626;
    font-size: 20px;
  }
}

@media (max-width: 991.98px) {
  .header__burger {
    display: block;
    position: absolute;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 10;
    right: 15px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .header__burger span {
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .header__burger span:first-child {
    top: 0px;
  }
  .header__burger span:last-child {
    top: auto;
    bottom: 0px;
  }
  .header__burger._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #ffffff;
  }
  .header__burger._active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }
  .header__burger._active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }
}

.intro {
  overflow: hidden;
  max-width: 100vw;
}

.intro__background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

@media (min-width: 1328px) and (max-height: 600px) {
  .intro__background {
    height: 700px;
  }
}

@media (max-width: 1328px) and (max-height: 600px) {
  .intro__background {
    height: 600px;
  }
}

.intro__container {
  height: calc(100vh - 94px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

@media (min-width: 1328px) and (max-height: 600px) {
  .intro__container {
    height: 606px;
  }
}

@media (max-width: 1328px) and (max-height: 600px) {
  .intro__container {
    height: 506px;
  }
}

.intro__body {
  display: block;
}

.intro__suptitle {
  border-radius: 42px;
  background-color: #391085;
  width: 260px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

@media (max-width: 991.98px) {
  .intro__suptitle {
    font-size: 18px;
    width: 200px;
    height: 37px;
  }
}

@media (max-width: 767.98px) {
  .intro__suptitle {
    display: none;
  }
}

.intro__title {
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  max-width: 1000px;
  margin-bottom: 40px;
}

@media (max-width: 991.98px) {
  .intro__title {
    font-size: 60px;
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .intro__title {
    font-size: 32px;
    max-width: 340px;
  }
}

.intro__subtitle {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__subtitle img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.intro__subtitle p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@media (max-width: 767.98px) {
  .intro__subtitle p {
    font-size: 16px;
  }
}

.intro__button {
  position: relative;
  width: 381px;
  height: 93px;
  border-radius: 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(#faaf1c), to(#d36718));
  background: linear-gradient(180deg, #faaf1c 0%, #d36718 100%);
  -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.intro__button p {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: #ffffff;
}

.intro__button:hover {
  opacity: 0.7;
}

@media (max-width: 991.98px) {
  .intro__button {
    width: 301px;
    height: 73px;
  }
  .intro__button p {
    font-size: 22px;
  }
}

@media (max-width: 767.98px) {
  .intro__button {
    width: 100%;
  }
}

.intro__sale {
  position: absolute;
  right: -50px;
  top: -30px;
}

@media (max-width: 767.98px) {
  .intro__sale {
    right: -25px;
    top: -47px;
  }
}

.policy {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.95);
}

.policy.show {
  z-index: 160;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
  overflow: hidden;
}

.policy__wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.policy__content {
  height: 80vh;
  padding: 40px;
  width: 100%;
  max-width: 626px;
  background-color: #faf9f6;
  border-radius: 10px;
}

@media (max-width: 767.98px) {
  .policy__content {
    padding: 24px;
  }
}

.policy__close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.policy__body {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  padding-right: 10px;
}

.policy__body::-webkit-scrollbar {
  width: 4px;
}

.policy__body::-webkit-scrollbar-track {
  background-color: rgba(252, 242, 242, 0.92);
}

.policy__body::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 8px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.policy__body::-webkit-scrollbar-thumb:hover {
  background: #393a3cb3;
}

.policy__block {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
}

.policy__title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
}

.policy__item:not(:last-child) {
  margin-bottom: 24px;
}

.policy__name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.policy__text {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 5px;
}

.policy__list {
  list-style-type: circle;
  margin: 15px 0px;
}

.policy__element {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 15px;
  font-size: 18px;
  line-height: 120%;
}

.policy__element:not(:last-child) {
  margin-bottom: 10px;
}

.work {
  padding: 120px 0px;
}

@media (max-width: 991.98px) {
  .work {
    padding: 60px 0px;
  }
}

@media (max-width: 767.98px) {
  .work {
    padding: 24px 0px;
  }
}

.work__title {
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  color: #262626;
  margin-bottom: 80px;
}

@media (min-width: 767.98px) {
  .work__title mark {
    color: #ffffff;
    background-color: #391085;
    border-radius: 10px;
    font-weight: 700;
    padding: 0px 5px;
  }
}

@media (max-width: 767.98px) {
  .work__title mark {
    background-color: inherit;
    color: #262626;
  }
}

.work__title span {
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .work__title span {
    font-weight: 500;
  }
}

@media (max-width: 991.98px) {
  .work__title {
    font-size: 44px;
  }
}

@media (max-width: 767.98px) {
  .work__title {
    font-size: 44px;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 24px;
  }
}

.work__body {
  position: relative;
}

.work__arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 72px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#faaf1c), to(#d36718));
  background: linear-gradient(180deg, #faaf1c 0%, #d36718 100%);
  cursor: pointer;
}

.work__arrow_prew {
  left: -36px;
}

.work__arrow_prew img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 767.98px) {
  .work__arrow_prew {
    left: -24px;
  }
}

.work__arrow_next {
  right: -36px;
}

@media (max-width: 767.98px) {
  .work__arrow_next {
    right: -24px;
  }
}

@media (max-width: 1328px) {
  .work__arrow {
    width: 48px;
    height: 48px;
  }
  .work__arrow img {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 991.98px) {
  .work__arrow {
    top: calc(35vw - 48px);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.work__block {
  overflow: hidden;
}

.work__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

@media (max-width: 991.98px) {
  .work__slide {
    display: block;
  }
}

.work__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 991.98px) {
  .work__left {
    margin-bottom: 24px;
  }
}

.work__bigimg {
  width: 100%;
  padding-bottom: 69%;
  border-radius: 8px;
  cursor: pointer;
}

.work__images {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  gap: 16px;
}

.work__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  border-radius: 8px;
  padding-bottom: 23%;
  cursor: pointer;
}

.work__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work__name {
  font-size: 30px;
  margin-top: -7px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 24px;
}

@media (max-width: 767.98px) {
  .work__name {
    font-size: 24px;
  }
}

.work__texts {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 30px;
}

.work__texts p:not(:last-child) {
  margin-bottom: 15px;
}

.work__values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 767.98px) {
  .work__values {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
}

.work__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.work__size p {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.work__size span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.button-work {
  border-radius: 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(#faaf1c), to(#d36718));
  background: linear-gradient(180deg, #faaf1c 0%, #d36718 100%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 24px 40px;
  width: 482px;
}

@media (max-width: 767.98px) {
  .button-work {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1050px) {
  .button-work {
    padding: 20px 20px;
  }
}

.button-work__icon {
  margin-right: 24px;
}

@media (max-width: 767.98px) {
  .button-work__icon {
    display: none;
  }
}

.button-work__texts {
  color: #ffffff;
}

.button-work__name {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 8px;
}

@media (max-width: 767.98px) {
  .button-work__name {
    font-size: 24px;
  }
}

.button-work__subname {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
}

.swiper__container {
  margin: 0;
}

.swiper-pagination {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767.98px) {
  .swiper-pagination {
    margin-top: 24px;
  }
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #bfbfbf;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #d36718;
}

.quiz {
  position: relative;
  height: 1081px;
}

@media (max-width: 991.98px) {
  .quiz {
    height: auto;
    background-color: #262626;
  }
}

.quiz__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1081px;
}

@media (max-width: 991.98px) {
  .quiz__background {
    display: none;
  }
}

.quiz__container {
  position: relative;
  z-index: 2;
  padding-top: 120px;
  padding-bottom: 120px;
}

@media (max-width: 991.98px) {
  .quiz__container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.quiz__title {
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 80px;
}

@media (min-width: 767.98px) {
  .quiz__title mark {
    color: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#faaf1c), to(#d36718));
    background: linear-gradient(180deg, #faaf1c 0%, #d36718 100%);
    border-radius: 10px;
    font-weight: 700;
    padding: 0px 5px;
  }
}

@media (max-width: 767.98px) {
  .quiz__title mark {
    background-color: inherit;
    color: #ffffff;
  }
}

.quiz__title span {
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .quiz__title span {
    font-weight: 500;
  }
}

@media (max-width: 991.98px) {
  .quiz__title {
    font-size: 44px;
  }
}

@media (max-width: 767.98px) {
  .quiz__title {
    font-size: 44px;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 24px;
  }
}

@media (max-width: 390px) {
  .quiz__title {
    font-size: 26px;
  }
}

.quiz__body {
  background-color: #ffffff;
  width: 440px;
  border-radius: 16px;
  margin: 0 auto;
  padding: 40px;
  position: relative;
}

@media (max-width: 479.98px) {
  .quiz__body {
    width: 100%;
    padding: 24px;
  }
}

.quiz__decor {
  position: absolute;
  top: -54px;
  right: -65px;
}

@media (max-width: 767.98px) {
  .quiz__decor {
    display: none;
  }
}

.quiz__mobile {
  background-color: #ffffff;
  width: 440px;
  border-radius: 16px;
  margin: 0 auto;
  padding: 40px;
  display: none;
}

@media (max-width: 479.98px) {
  .quiz__mobile {
    width: 100%;
    padding: 24px;
  }
}

.quiz__name {
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 32px;
  min-height: 81px;
}

@media (max-width: 479.98px) {
  .quiz__name {
    font-size: 24px;
    min-height: 63px;
  }
}

.quiz__elements {
  min-height: 260px;
}

.quiz__element {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.quiz__element:not(:last-child) {
  margin-bottom: 20px;
}

.quiz__radio {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  height: 16px;
  border: 1px solid #262626;
  border-radius: 50%;
}

.quiz__value {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.quiz__item {
  display: none;
}

.quiz__item.active {
  display: block;
}

.quiz__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 8px;
  margin-top: 62px;
}

@media (max-width: 479.98px) {
  .quiz__bottom {
    margin-top: 32px;
  }
}

.quiz__line {
  border-radius: 18px;
  height: 4px;
  background: #d9d9d9;
  width: 100%;
}

.quiz__progres {
  background-color: #237804;
  height: 100%;
  width: 0%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.quiz__number {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-quiz__name {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 24px;
}

@media (max-width: 479.98px) {
  .mobile-quiz__name {
    font-size: 24px;
  }
}

.mobile-quiz__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-quiz__input {
  margin-bottom: 16px;
  height: 60px;
  width: 100%;
  border-radius: 12px;
  background-color: #faf9f6;
  color: #262626;
  padding-left: 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.mobile-quiz__input::-webkit-input-placeholder {
  color: #262626;
}

.mobile-quiz__input:-ms-input-placeholder {
  color: #262626;
}

.mobile-quiz__input::-ms-input-placeholder {
  color: #262626;
}

.mobile-quiz__input::placeholder {
  color: #262626;
}

.mobile-quiz__button {
  margin-top: 24px;
  margin-bottom: 32px;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  border-radius: 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(#faaf1c), to(#d36718));
  background: linear-gradient(180deg, #faaf1c 0%, #d36718 100%);
  color: #ffffff;
}

.mobile-quiz__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mobile-quiz__label input {
  margin-top: 2px;
}

.mobile-quiz__label p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.mobile-quiz__label p span {
  color: #1890ff;
  cursor: pointer;
}

.reviews__container {
  padding-top: 120px;
  padding-bottom: 120px;
}

@media (max-width: 991.98px) {
  .reviews__container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.reviews__title {
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  margin-bottom: 40px;
}

.reviews__title span {
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .reviews__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 24px;
  }
  .reviews__title span {
    font-weight: 500;
  }
}

.reviews__top {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #faf9f6;
  border-radius: 16px;
  margin-bottom: 40px;
}

@media (max-width: 767.98px) {
  .reviews__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 24px;
  }
}

.reviews__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

@media (max-width: 767.98px) {
  .reviews__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 16px;
  }
}

.reviews__value {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.reviews__text {
  font-size: 16px;
}

@media (max-width: 767.98px) {
  .reviews__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.reviews__button {
  border-radius: 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(#faaf1c), to(#d36718));
  background: linear-gradient(180deg, #faaf1c 0%, #d36718 100%);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px 40px;
}

@media (max-width: 991.98px) {
  .reviews__button {
    padding: 24px;
  }
}

@media (max-width: 767.98px) {
  .reviews__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.reviews__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__all {
  cursor: pointer;
  border-radius: 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(#faaf1c), to(#d36718));
  background: linear-gradient(180deg, #faaf1c 0%, #d36718 100%);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px 40px;
}

.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media (max-width: 1328px) {
  .reviews__items {
    gap: 20px;
    row-gap: 40px;
  }
}

@media (max-width: 767.98px) {
  .reviews__items {
    margin-bottom: 24px;
  }
}

.reviews__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.333% - 27px);
          flex: 0 1 calc(33.333% - 27px);
  background-color: #faf9f6;
  border-radius: 16px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1328px) {
  .reviews__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(33.333% - 14px);
            flex: 0 1 calc(33.333% - 14px);
  }
}

@media (max-width: 1200px) {
  .reviews__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 10px);
            flex: 0 1 calc(50% - 10px);
  }
}

@media (max-width: 767.98px) {
  .reviews__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 24px;
  }
}

.reviews__item.none {
  display: none;
}

.reviews__decor {
  position: absolute;
  top: 0;
  right: 0;
}

.reviews__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}

.reviews__names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__name {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.reviews__time {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.reviews__content {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.reviews__links {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.reviews__link {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #391085;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stars__item img {
  width: 16px;
}
