.policy {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.9);
  &.show {
    z-index: 160;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
    overflow: hidden;
  }
  &__wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  &__content {
    height: 1000px;
    overflow: auto;
    padding: 40px;
    width: 100%;
    width: 426px;
    //  height: 1000px;
    //  height: 517px;
    background-color: #faf9f6;
    border-radius: 10px;
  }

  &__body {
    overflow: auto;
    height: 1000px;
  }

  &__title {
  }

  &__item {
  }

  &__name {
  }

  &__text {
  }

  &__list {
  }

  &__element {
  }

  &__time {
  }
}
